<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>


<body>

    <header th:replace="~{header :: header}"></header>

    <main>
        <!-- 검색창 -->
        <form>
            <!-- 필터 : 제목,본문,id,닉네임,해시태그 -->
            <label for="search-type" hidden>유형</label>
            <select id="search-type" name = "search-type">
                <option>제목</option>
                <option>본문</option>
                <option>ID</option>
                <option>닉네임</option>
                <option>해시태그</option>
            </select>
            <label for="search-value" hidden>검색어</label>
            <input id="search-value" type="search" placeholder="검색어" name="search-value">
            <button type="submit">검색</button>
        </form>

        <!-- 테이블 -->
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>해시태그</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>글 1</th>
                    <th>#java</th>
                    <th>User1</th>
                    <th>2024-01-01</th>
                </tr>
                <tr>
                    <th>글 2</th>
                    <th>#spring</th>
                    <th>User2</th>
                    <th>2024-01-02</th>
                </tr>
                <tr>
                    <th>글 3</th>
                    <th>#C++</th>
                    <th>User3</th>
                    <th>2024-01-03</th>
                </tr>
            </tbody>
        </table>

        <!-- navigation bar -->
        <nav>
            <table>
                <tr>
                    <td>previous</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>Next</td>
                </tr>
            </table>
        </nav>
    </main>


    <footer th:replace="~{footer :: footer}"></footer>

</body>
</html>